<!DOCTYPE html>
  <head>
    <title>Chat Application</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
  </head>
  <body>
    <h1>Web Chat Application</h1>
    <h2>Write your message and press to the button</h2>
    <div id="chatbox"></div>
    <form name="message" action="" method="POST" id="messageform">
      <input name="usermsg" type="text" id="usermsg" placeholder="Enter your message here" />
      <input name="submitmsg" type="button" id="submitmsg" value="Send" onclick="msg()" />
    </form>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {});
      $('#usermsg').keypress(function (e) {                                       
       if (e.which == 13) {
            e.preventDefault();
            msg();  
       }
      });
      function msg() {
        let value = document.getElementById("usermsg").value;
        if(value !== '')
        {
        let mydata =  new FormData();
        mydata.append("usermsg", value);
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (request.readyState == XMLHttpRequest.DONE) {
                let responsevalue = request.responseText;
                document.getElementById("chatbox").innerHTML = document.getElementById("chatbox").innerHTML + "<br/>" + responsevalue;
            }
        }
        request.open('POST', 'echo');
        request.send(mydata);
        document.getElementsByName("message")[0].reset();
        }
      }
    </script> 
  </body>
</html>